@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }

  .hero-title {
    font-size: 48px;
  }

  /* .hero-text {
    width: 321px;
  } */
}

@media screen and (max-width: 480px) {
  header > .container {
    min-width: 100%;
  }
}
