html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

:root {
  --bgc-color: #e5e5e5;
  --white-color: #ffffff;
  --main-text-color: #555555;
  --subtitle-text-color: #9da4bd99;
  --grey-color: #9da4bd;
  --accent-color: #ff6c00;
}

.container {
  /* max-width: 480px; */
  padding: 0 31px;
  margin: 0 auto;
}

/* --- HEADER --- */
.site-header {
  position: relative;
}

header > .container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 40px;
}

.header-logo {
  color: var(--white-color);
}

.icon-logo {
  /* display: inline-block; */
  fill: currentColor;
}

.hamburger-icon {
  fill: var(--white-color);
  margin-left: 40px;
}

/* --- HERO --- */

.hero-section {
  padding-top: 208px;
  padding-bottom: 209px;
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
      url(../images/hero-img@2x.jpg);
  }
}

.pre-title-hero {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--subtitle-text-color);
}

.pre-title-hero::before {
  content: "";

  border: 1px solid var(--subtitle-text-color);
  width: 60px;
  margin-right: 20px;
}

.hero-title {
  font-weight: 700;
  font-size: 10vw;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: var(--white-color);

  margin-bottom: 20px;
}

.hero-text {
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.02em;
  color: var(--grey-color);
  max-width: 321px;
}

/* --- ABOUT SECTION --- */
.about-section {
  padding-top: 84px;
  padding-bottom: 84px;
}
